---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pricing | AG Charts">
    <main><h1>Pricing Coming soon.</h1></main>
</Layout>

<style>
    main {
        margin-top: 20px;
    }

    h1 {
        text-align: center;
    }
</style>
